.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .1rem;
    padding-top: 1rem;
    background-color: lightblue;
    color: white;
    height: 100vh;
    overflow: none;
}

#title, #counter {
    color: black;
    margin: 1rem;
}

.control {
    height: 20px;
    width: 20px;
    border: 1px solid black;
}

#record {
    border-radius: 50%;
    background-color: rgb(75, 201, 102);
    outline: none;
}

#record:hover {
    border: 1px solid white;
}

#record:active {
    background-color: lightcyan;
}

#stop {

    background-color: red;
}


.play:active {
    border-left: 14px solid white;
}
