table {
    padding: .1rem;
}

.row {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding: .5rem;
    margin: .25rem;
    border: 1px solid black;
    border-radius: 10px;
    background-color: rgb(82, 145, 170);
}

.progress {
    width: 100px;
    height: 20px;
    border-radius: 10px;
    background-color: black;
}

.progress-bar {
    width: 100%;
    height: 20px;
    border-radius: 10px;
    background-color: blue;
}